body {
  background-color: #fafafa;
  font-family: Verdana;
  margin:0;
}

nav {
  background-color: black;
  padding: 0 1em;
  display: flex;
}
nav a {
  display: block;
  padding: .5em;
  text-decoration: none;
  margin: 0 .5em;
  font-weight: bold;
  color:white;
}
nav a:hover {
  background-color:grey;
}
nav a.active {
  border-bottom: 2px solid red;
}
section#banner {
  background: url('../img/jakku.jpg') no-repeat bottom right;
  height: 50vh;
  background-size: cover;
  border-bottom: 1px solid black;
}

section#droids {
  padding:1em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
section#droid-article {
  display: flex;
  width:90%;
  margin: auto;
}
section#droid-article .robot-image {
  max-width: 100px;
}
section#droid-article h1 {
  text-align: left;
  margin-top: 1em;
}
section#droid-article article {
  flex: 2;
}
section#droid-article aside {
  flex: 1;
}
footer {
  background-color: #8A7867;
  padding: .5em;
  text-align: center;
  color:#423E3B;
  font-size: .8em;
  border-top:1px solid black;
}
h1 {
  text-align: center;
  position: relative;
  margin:0;
  top: 45%;
  font-size: 2em;
  text-shadow: 2px 2px 5px red;
}
